.llloco{
    height: 20px;
}
.iconA{
    fill:white;
    color:white;
}
#searchButton{
    height: 70px;
}
.titleBar{
    padding: 15px 0 10px 0;
    border-bottom: 1px solid #E5E5E5;
}
.inputTest{
    font-size: 15px ;
    font-weight: 200;
    color: #9B9B9B;
}
.searchTitle{
    padding-top: 100px ;
}